<!DOCTYPE html>
<html lang="en" >

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Player details</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">
    <style type="text/css">
        @media (max-width: 551px) {
        #highchart_container {height: 3000px;}
}
@media (min-width: 550px) {
    #highchart_container {height: 1400px;}
}
    </style>

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/highcharts/highcharts.js"></script>
    <!-- <script src="js/chart.controller.js"></script> -->
    <script src="js/playerDetails.controller.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/highcharts/themes/dark-unica.js"></script>
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    
    
   
    
   
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-app="togetherApp"  ng-controller="playerDetailsController as vm">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="about.html" style="font-size:24px"> Together</a> <a class="navbar-brand" href="#" style="font-size:18px">  | Improve consistently, Improve continuously</a>
            </div>
           <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="about.html">Dashboard</a>
                    </li>
                    <li>
                        <a href="index.html">Logout </a>
                    </li>
                                    
                </ul>
            </div>
            
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">


        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><p>Player Details</p>
                    
                </h1>
                
            </div>
        </div>
        <br>

        <div class="row">

            <div class="col-md-4">
                <img class="img-responsive" src="{{vm.playerBio.profilePic}}" alt="">
            </div>
            
            <div class="caption col-md-6">
            <div class="col-md-1">
            </div>
            <div class="col-md-4">
                <h3>Player Details</h3>
                <hr style="width:700px; border-top: 3px solid orange;">
                <br>
                <p><b>Name : </b>{{vm.playerBio.playerName}}</p>
                <p><b>Weight : </b>{{vm.playerBio.weight}}</p>
                <p><b>Height : </b>{{vm.playerBio.height}}</p>
                <p><b>Age : </b>{{vm.playerBio.age}}</p>

            </div>
            </div>
            <div class="col-md-1">
            </div>
        </div><br>
        <!-- /.row -->
<hr style="width:1100px; border-top: 1px solid #000;">
<br>
        <!-- Content Row -->
        <div class="row" >
            <!-- Sidebar Column -->
            <div class="col-md-3">
                <div class="list-group">
                    <a ng-click="vm.tab='fitness'" href="" class="list-group-item" style="padding: 18px 15px;">Frequency</a>
                    <a ng-click="vm.tab='intensity'" href="" class="list-group-item" style="padding: 18px 15px;">Intensity</a>
                    <a href="" ng-click="vm.tab='tenacity'" class="list-group-item" style="padding: 18px 15px;">Tenacity</a>
                    <!-- <a href="" ng-click="vm.tab='effectiveness'" class="list-group-item" style="padding: 18px 15px;">Effectiveness</a> -->

                </div>
            </div>
            <!-- Content Column -->
            <div class="col-md-1"></div>
            <div  id="highchart_container" class="col-md-8" ng-if="vm.tab=='fitness' && fqLineChartOptions">
                <h2>Frequency</h2>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, et temporibus, facere perferendis veniam beatae non debitis, numquam blanditiis necessitatibus vel mollitia dolorum laudantium, voluptate dolores iure maxime ducimus fugit.</p> -->
                <hc-chart options="fqLineChartOptions">Placeholder for generic chart</hc-chart> 
                
                 <!-- <hc-pie-chart title="Browser usage" data="pieData">Placeholder for pie chart</hc-pie-chart> -->
            </div>
             <div id="highchart_container" class="col-md-8" ng-if="vm.tab=='intensity' && weightIntensityLineChartOptions ">
                <h2>Intensity</h2>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, et temporibus, facere perferendis veniam beatae non debitis, numquam blanditiis necessitatibus vel mollitia dolorum laudantium, voluptate dolores iure maxime ducimus fugit.</p> -->
                 <hc-chart ng-if="weightIntensityLineChartOptions" options="weightIntensityLineChartOptions">Placeholder for generic chart</hc-chart>
                 <!-- <hc-pie-chart title="Browser usage" data="pieData">Placeholder for pie chart</hc-pie-chart> -->
            </div>
             <div id="highchart_container" class="col-md-8" ng-if="vm.tab=='tenacity' && tenacityLineChartOptions">
                <h2>Tenacity</h2>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, et temporibus, facere perferendis veniam beatae non debitis, numquam blanditiis necessitatibus vel mollitia dolorum laudantium, voluptate dolores iure maxime ducimus fugit.</p> -->
                <hc-chart options="tenacityLineChartOptions">Placeholder for generic chart</hc-chart>
                 <!-- <hc-pie-chart title="Browser usage" data="pieData">Placeholder for pie chart</hc-pie-chart> -->
            </div>
             
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Together 2016</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    

</body>

</html>
